@page "/housekeeper"

<PageTitle>FF14 Apps - 집사장비</PageTitle>

<div class="mb-3">
    <h3>전투 집사</h3>

    <table class="table table-bordered">
        <tr>
            <td>레벨 / 획득량</td>
            <td>5</td>
            <td>7</td>
            <td>10</td>
            <td>12</td>
            <td>15</td>
        </tr>
        <tr>
            <td>95</td>
            <td>646</td>
            <td>661</td>
            <td>676</td>
            <td>681</td>
            <td>691</td>
        </tr>
        <tr>
            <td>96</td>
            <td>649</td>
            <td>664</td>
            <td>679</td>
            <td>684</td>
            <td>694</td>
        </tr>
        <tr>
            <td>97</td>
            <td>652</td>
            <td>667</td>
            <td>682</td>
            <td>687</td>
            <td>697</td>
        </tr>
        <tr>
            <td>98</td>
            <td>655</td>
            <td>670</td>
            <td>685</td>
            <td>690</td>
            <td>700</td>
        </tr>
        <tr>
            <td>99</td>
            <td>658</td>
            <td>673</td>
            <td>688</td>
            <td>693</td>
            <td>703</td>
        </tr>
        <tr>
            <td>100</td>
            <td>670</td>
            <td>685</td>
            <td>700</td>
            <td>705</td>
            <td>715</td>
        </tr>
    </table>
</div>

<div class="mb-3">
    <h3>채집 집사</h3>

    <table class="table table-bordered">
        <tr>
            <td>레벨(기술력) / 획득량</td>
            <td>20</td>
            <td>30</td>
        </tr>
        <tr>
            <td>95</td>
            <td>3224</td>
            <td>4605</td>
        </tr>
        <tr>
            <td>96</td>
            <td>3308</td>
            <td>4725</td>
        </tr>
        <tr>
            <td>97</td>
            <td>3392</td>
            <td>4845</td>
        </tr>
        <tr>
            <td>98</td>
            <td>3434</td>
            <td>4905</td>
        </tr>
        <tr>
            <td>99</td>
            <td>3434</td>
            <td>4905</td>
        </tr>
        <tr>
            <td>100</td>
            <td>3476</td>
            <td>4965</td>
        </tr>
    </table>
</div>

@code {

}
