@page "/housekeeper"

<PageTitle>FF14 Apps - 집사장비</PageTitle>

<div class="mb-3">
    <h3>전투 집사</h3>

    <table class="table table-bordered">
        <tr>
            <td>레벨</td>
            <td>670</td>
            <td>685</td>
            <td>700</td>
            <td>705</td>
            <td>715</td>
        </tr>
        <tr>
            <td>채집수량</td>
            <td>5</td>
            <td>7</td>
            <td>10</td>
            <td>12</td>
            <td>15</td>
        </tr>
    </table>
</div>

<div class="mb-3">
    <h3>채집 집사</h3>

    <table class="table table-bordered">
        <tr>
            <td>기술력</td>
            <td>3476</td>
            <td>4965</td>
        </tr>
        <tr>
            <td>채집수량</td>
            <td>20</td>
            <td>30</td>
        </tr>
    </table>
</div>

@code {

}
